{:credentials/db {:file-path "/var/sherlockbench/env.edn"}

 :db.sql/connection {:db-credentials #ig/ref :credentials/db}

 :sherlockbench/queryfn (:database #ig/ref :db.sql/connection)

 :migratus/config (:database #ig/ref :db.sql/connection)}
