{:credentials/db {:file-path "/var/sherlockbench/env.edn"}

 :sherlockbench/config {:file-path "/var/sherlockbench/config.edn"}

 :db.sql/connection {:db-credentials #ig/ref :credentials/db}

 :sherlockbench/queryfn {:database #ig/ref :db.sql/connection}

 :sherlockbench/session-store {:redis-config {:pool {}
                                              :spec {:host "127.0.0.1"
                                                     :port 6379}}}
 
 :sherlockbench/handler {:queryfn #ig/ref :sherlockbench/queryfn
                         :config #ig/ref :sherlockbench/config
                         :session-store #ig/ref :sherlockbench/session-store}

 :migratus/config (:database #ig/ref :db.sql/connection)

 :ring.adaptor/jetty {:opts {:port 3000
                             :host "localhost"
                             :join? false}
                      :handler #ig/ref :sherlockbench/handler}}
