{:credentials/db {:file-path "env/dev/resources/db-credentials.edn"}

 :sherlockbench/config {:file-path "resources/config.edn"}

 :db.sql/connection {:db-credentials #ig/ref :credentials/db}

 :sherlockbench/queryfn {:database #ig/ref :db.sql/connection}
 
 :sherlockbench/handler {:queryfn #ig/ref :sherlockbench/queryfn
                         :config #ig/ref :sherlockbench/config}

 :migratus/config (:database #ig/ref :db.sql/connection)

 :ring.adaptor/jetty {:opts {:port 3000
                             :join? false}
                      :handler #ig/ref :sherlockbench/handler}}
