{:credentials/db {:file-path "env/dev/resources/db-credentials.edn"}

 :sherlockbench/config {:file-path "resources/config.edn"}

 :db.sql/connection {:db-credentials #ig/ref :credentials/db}

 :sherlockbench/queryfn {:database #ig/ref :db.sql/connection}

 :sherlockbench/session-store {:redis-config {:pool {}
                                              :spec {:host "127.0.0.1"
                                                     :port 6379}}}
 
 :sherlockbench/problems {:config #ig/ref :sherlockbench/config}
 
 :sherlockbench/handler {:queryfn #ig/ref :sherlockbench/queryfn
                         :session-store #ig/ref :sherlockbench/session-store
                         :problems #ig/ref :sherlockbench/problems}

 :migratus/config (:database #ig/ref :db.sql/connection)

 :ring.adaptor/jetty {:opts {:port 3000
                             :join? false}
                      :handler #ig/ref :sherlockbench/handler}}
